.footer {

    .container {
        align-items: center;
        display: flex;
        gap: 24px;
        justify-content: space-between;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .menu {
        margin-bottom: 1em;

        @media (max-width: 768px) {
            ul {
                align-items: center;
                flex-direction: column;
            }
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .circle img {
        width: 200px;
    }
}