<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{ template "_internal/opengraph.html" . }}

        <title>{{ if not .IsHome }}{{ .Title }} — {{ end }}{{ .Site.Title }}</title>

        {{ $opts := dict "transpiler" "libsass" "targetPath" "css/style.css" }}
        {{ with resources.Get "sass/main.scss" | toCSS $opts | minify | fingerprint }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
        {{ end }}
        
        <script defer data-domain="dialectapp.org" src="https://analytics.odka.org/js/script.js"></script>
        {{- block "scripts" . }}{{- end }}
    </head>
    <body>
        
        {{- partial "header.html" . -}}

        <main>
            {{- block "main" . }}{{- end }}
        </main>

        {{- partial "footer.html" . -}}
    </body>
</html>