<footer class="section section-page footer">
    <div class="container">
        <div>
            <nav class="menu">
                <ul>
                    {{- range site.Menus.footer }}
                    <li>
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{- end }}
                </ul>
            </nav>
            <p class="copy">© 2020–{{ dateFormat "2006" now }} The Dialect Authors</p>
        </div>
        
        <a href="https://circle.gnome.org" class="circle">
            <img src="https://circle.gnome.org/assets/button/circle-button-fullcolor.svg" alt="GNOME Circle">
        </a>
    </div>
</footer>